@import 'mixins';

@parFontSize: 20;
@parFontSizePx: 20px;
@contentParaWidth: 620px;

@orange:      rgb(253, 137, 57);
@trspOrange:  rgba(253, 137, 57, 0.3);
@darkOrange:  darken(@orange, 15%);
@white:       rgb(255, 255, 255);
@cream:       rgb(254, 255, 230);
@lightCream:  lighten(@cream, 4%);
@trspCream:   rgba(254, 255, 230,0.3);
@darkBrown:   #170f0b;
@brown:       rgb(58, 40, 35);
@trspDarkBrown:   rgba(25, 16, 12,0.92);
@trspBlack:   rgba(0,0,0,0.5);
@trspGray:    rgba(120,120,120,0.5);
@sansFontFamily: "open-sans", Helvetica, Arial, sans-serif;


body {
  font-size: 100%;
  line-height: 1.5;
  color: #333;
  background-color: @lightCream;
}

.navbar.special-feature {
  margin-bottom: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  padding: 8px 0px;
  .transform(translateZ(0));
  .brand {
    margin-left: 5px;
    width: 200px;
    &.brand-center {
      position: absolute;
      left: 0;
    }
  }
}

.article-title-container {
  display: block;
  width: 400px;
  margin: 0 auto;
  position: relative;
  opacity: 0.1;
  cursor: pointer;
  .transition(opacity 0.75s ease-in-out);
  &.visible,
  &:hover,
  &.child-nav-visible {
    opacity: 1;
  }
  &.visible {
    .transition(opacity 2s ease-in-out);
  }

  // burgertron
  .burger {
    font-size: 1.8em;
    margin: 0 0 0 8px;
    color: @cream;
  }
}

.article-title {
  font-size: 1.6em;
  line-height: 32px;
  color: @cream;
  font-family: @sansFontFamily;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .2em;
}

.article-nav-container {
  text-align: left;
  @fixedArticleNavHeight: 180px;
  @navbarHeight: 48px;
  @fixedArticleNavPaddingTop: 20px;
  .clearfix;
  &.fixed {
    background-color: @trspDarkBrown;
    position: fixed;
    width: 100%;
    height: @fixedArticleNavHeight;
    // Initialise outside the viewport, inline css takes over afterwards
    top: -9999px;
    z-index: 3;
    .transform(translateZ(0));
    .transition(top 0.5s ease-in-out);
    padding-top: @fixedArticleNavPaddingTop;
    &.visible {
      top: @navbarHeight;
      .box-shadow(0 2px 10px @trspBlack);
    }
  }

  &.footer {
    color: #333;
    padding: 6em 0;

    .nav {
      li a { border-right-color: @orange; }
      li:first-child a { border-left-color: @orange; };
    }

    .overlay-coming-soon { color: @gray; }

    .article-nav .article-nav-title { color: @darkOrange }

    .nav-extra {
      a, p {
        color: #333;
      }
      a:hover {
        color: @darkOrange;
      }
      .title {
        color: @darkOrange;
      }
    }
  }

  .nav {
    width: 58%;
    float: left;
    margin: 0;
    li a {
      border-right: 1px dotted @trspOrange;
      &,
      &:hover {
        background-color: transparent !important;
      }
    }
      li:first-child a {
        border-left: 1px dotted @trspOrange;        
      };
  }

  .nav-extra {
    font-size: 1.4em;
    font-family: @sansFontFamily;
    color: @cream;
    width: 21%;
    float: left;
    position: relative;
    margin: 0;
    padding: 0;
    p {
      padding: 0 1em 1em 1em;
    }
    .title {
      text-transform: uppercase;
      font-weight: bold;
      color: @orange;
      letter-spacing: 0.1em;
      padding: 0 1em 0em 1em;
    }
    a {
      color: @cream;
      background-color: transparent;
      text-transform: uppercase;
      font-size: 90%;
      letter-spacing: 1px;
      font-weight: bold;
      text-decoration: none;
      &:hover {
        color: @orange;
      };
      i {
        font-size: 120%;
        margin-right: 4px;
      }
    }
  }

  .about-the-series {
    height: @fixedArticleNavHeight - 40px;
  }

  .appendix {
    .title {
      font-weight: normal;
    }
    list-style: none;
    li {
      padding: 0 1em 0.5em 1em;
      &:first-child {
        padding: 0;
      }
    }
  }
  .overlay-anchor,
  .overlay-coming-soon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    // this SO thread explains the data URI below (it's a 1x1 transparent GIF):
    // http://stackoverflow.com/questions/9109911/ie-z-index-trouble-on-element-with-transparent-background    
    background: transparent 0 0 repeat scroll url("data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBR‌​AA7");
  }

  .overlay-coming-soon {
    color: @lightCream;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    top: 52%;
    letter-spacing: 1px;
    left: 10%;
    width: 80%;
    height: 60%;
    opacity: 0.4;
    font-size: 1.2em;
  }
}

.article-nav {
  width: 28%;
  padding-left: 2.5%;
  padding-right: 2.5%;
  // background: red;
  height: 100%;
  position: relative;
  float: left;
  .article-nav-title {
    font-size: 1.4em;
    text-transform: uppercase;
    font-weight: normal;
    color: @orange;
    letter-spacing: 0.1em;
    margin-bottom: 1em;
    display: block;
  }
  .article-nav-subtitle {
    font-family: @serifFontFamily;
  }
  .image {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 120px;
    .border-radius(3px);
    .monks-army& {
      background-image: url('/images/chap-navs/monks-rally-chapnav.jpg');
    }
    .plight-of-the-tamils& {
      background-image: url('/images/chap-navs/billboard-chapnav.jpg');
    }
    .rajapaksa-inc& {
      background-image: url('/images/chap-navs/g-rajapaksa-chapnav-bw.jpg');
    }
  }

  &.inactive {
    .overlay-anchor {
        cursor: default;
      }

    .article-nav-title {
      color: @grayLight !important;
      opacity: 0.7;
    }
    .image {
      opacity: 0.3;
    }

  }
}

.introduction .article-nav-container.footer {
  color: @cream;

  .nav {
    li a { border-right-color: @trspOrange; }
    li:first-child a { border-left-color: @trspOrange; };
  }

  .overlay-coming-soon {
    color: @lightCream;
    opacity: 0.4;
  }

  .nav-extra {
    a, p {
      color: @cream;
    }
    a:hover {
      color: @orange;
    };
    .title {
      color: @orange;
    }
  }
}


#main {
  // Spacer for the sticky navbar
  margin-top: 48px;
}

.article-header {
  position: relative;
  padding: 2em;
  .font-size(@parFontSize);
  max-width: 100%;

  .header {
    text-align: center;
    font-size: 2em;
    .font-size(@parFontSize * 2);
    font-family: @sansFontFamily;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.2em;
    letter-spacing: 0.8em;
    word-spacing: 0.3em;
    text-shadow: 0 1px 1px @grayLight;
    color: @orange;
    margin-bottom: 1em;
  }
  .byline {
    max-width: @contentParaWidth * 1.4;
    font-size: 1.2em;
    line-height: 1.3em;
    text-shadow: 0 -1px 0 @white;
    font-family: @sansFontFamily;
    font-weight: 700;
    text-align: center;
    margin: 0 auto;
    color: @grayDark;
  }

  .author {
    font-size: 0.7em;
    letter-spacing: .2em;
    line-height: 1.4em;
    color: @gray;
    text-transform: uppercase;
    margin: 0 0 1em 0;
    padding: 3em 0 1em 0;
    display: inline-block;
    text-align: center;
    width: 100%;
    &:before {
      content: " ";
      border-bottom: 1px dotted @orange;
      .font-size(@parFontSize);
      width: @contentParaWidth;
      left: 50%;
      margin-left: -1 * (@contentParaWidth / 2);
      top: .6em;
      display: block;
      position: relative;
      z-index: -2;
    }
    .blockout {
      z-index: -1;
      width: auto;
      display: inline-block;
      margin: 0 auto;
      padding: 0 .4em;
      background-color: @lightCream;
    }
  }

  .image {
    top: 0;
    left: 0;
    z-index: 1;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    // IE8 polyfill for `background-size: cover;`
    // -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='path_relative_to_the_HTML_file', sizingMethod='scale')";
    .box-shadow(0 0  1px @trspBlack);
    .border-radius(3px);
    .introduction & {
      .responsiveBG('headers/soldier-silhouetted');
    }
    .monks-army & {
      .responsiveBG('headers/monks-rally');
    }
    .smugglers-prey & {
      .responsiveBG('headers/gnanaseelan');
    }
    .rajapaksa-inc & {
//      .responsiveBG('headers/');
    }
  }
}

.content {
  padding-top: 2em;
  position: relative;
  .font-size(@parFontSize);
  p {
    max-width: @contentParaWidth;
    margin: 0 auto;
    font-family: @serifFontFamily;
    .font-size(@parFontSize);
    word-wrap: break-word;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 1.4em;
    &:last-child {

    }
  }
  & > p:first-of-type {
    font-weight: bold;
    line-height: 1.4;
    &:first-letter {
      font-size: 2.9em;
      float: left;
      line-height: .73;
      margin: 6px 8px 0 0px;
      text-indent: -5px;
      font-family: @sansFontFamily;
      font-weight: 600;
    }
  }

  a {
    color: average(@orange, @brown);
    &:hover {
      border-bottom: 1px solid @trspOrange;
      text-decoration: none;
    }
  }
}

.pull-quote {
  max-width: @contentParaWidth * 1.4;
  margin: 0 auto 0.5em auto;
  padding: 0;
  background-color: @white;
  .border-radius(3px);
  .clearfix;
  > img {
    margin-bottom: 1em;
    .border-top-radius(3px);
    .border-bottom-radius(3px);
    &:last-of-type {
      .border-bottom-radius(0);
      margin-bottom: 0;
    }
  }

  &.pull-right,
  &.pull-left {
    max-width: @contentParaWidth * .75;
    margin-left: 1em;
    margin-right: 1em;
  }
  &.pull-right  { margin-right: 10%; }
  &.pull-left   { margin-left: 10%; }

  // big pullquote
  &.text {
    text-rendering: optimizeLegibility;
    background-color: transparent;
    .border-radius(0);
    .box-shadow(none);
    letter-spacing: .075em;
    margin: 0 auto 1em auto;
    padding: 0;
    border-top: 1px dotted @orange;
    border-bottom: 1px dotted @orange;
    p {
      font-size: 1.65em;
      line-height: 1.5;
      color: @darkOrange;
      text-shadow: 0 -1px 0 @white;
      font-family: @sansFontFamily;
      text-transform: uppercase;
      font-weight: 600;
      text-align: center;
      padding: 1em;
      margin-bottom: 0;
    }
  }
  &.large-image {
    max-width: @contentParaWidth * 1.75;
  }
  &.jaffna-map {
    border: 1px solid lighten(@brown, 70%);
    .paragraph-container {
      border: 0px none; 
    }
  }
}

.paragraph-container {
  border: 1px solid lighten(@brown, 70%);
  border-top: none;
  .border-bottom-radius(3px);
  .clearfix;

  p, .caption {
    // .caption class so we can recycle this in the timeline
    font-family: @sansFontFamily;
    color: @gray;
    max-width: 100%;
    line-height: 1.5;
    margin: 1em;
    padding: 0em;
    font-size: 0.65em;
  }

  .credit {
    text-transform: uppercase;
    font-style: italic;
    font-size: 11px;
    line-height: 11px;
    color: @grayLight;
    display: block;
    margin: 1em;
    text-align: right;
  }
}

.next-chapter {
  padding: 0;
  background-color: transparent;
  .font-size(@parFontSize);
  .call-to-action {
    font-size: 0.8em;
    letter-spacing: .2em;
    line-height: 1.2;

    color: @orange;
    display: block;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;

    border-top: 1px dotted @orange;
    border-bottom: 1px dotted @orange;
    margin: 0 auto 2em auto;
    padding: 2em 0 2em 0;

    max-width: @contentParaWidth;

    p {
      margin-bottom: 1em;
    }

    a {
      color: @orange;

      .pointer {
        display: inline-block;
        font-weight: 100;
        font-size: 1.4em;
        padding-left: 10px;
        vertical-align: text-bottom;
      }

      &:hover {
        text-decoration: none;
        color: @darkOrange;
        .pointer {
          color: @darkOrange;
        }
      }
    }

  }
  form {
    max-width: @contentParaWidth;
    margin: 1em auto;
    input {
      font-family: @sansFontFamily;
      width: 65%;
      box-sizing: border-box;
      line-height: 1.4;
      height: 2.5em;
      // padding: 10px;
    }
    input[type="email"] {
      border: 1px solid #b9b9b9;
      .box-shadow(inset 2px 2px 2px 0 #ddd);
      display: block;
      color: #333;
      background-color: @white;
      text-align: center;
      margin: 0 auto 20px auto;
      &:active, &:focus,
      &:active:required, &:focus:required {
        border-color: @orange;
        .box-shadow(none);
      }
    }
    input[type="submit"] {
      background-color: #333;
      .border-radius(3px);
      border-style: none;
      color: #fff;
      display: block;
      font-weight: 700;
      height: 36px;
      margin: 0.5em auto 10px auto;
      text-transform: uppercase;
      letter-spacing: 2px;
      &:hover, &:active {
        background-color: @orange; 
      }
      &:active {
        .box-shadow(inset 4px 4px 6px 0 @darkOrange);
      };
    }
  }
}

// Article specific styling
article {
  &.introduction {
    background-color: @brown;

    .article-header {
      padding: 0;
      .header,
      .byline,
      .author,
      .image {
        position: absolute;
        text-align: center;
        z-index: 2;
        width: 100%;
      }
      .header {
        top: 44%;
        color: @cream;
        text-shadow: 0 0 80px @trspBlack, 0 1px 2px @darkBrown;
      }

      .byline {
        text-shadow: 0 0 5px @trspBlack;
        letter-spacing: .2em;
        line-height: 1.4em;
        font-size: 0.8em;
        text-transform: uppercase;
        top: 60%;
        max-width: none;
        color: @orange;
      }
      .author {
        bottom: 0%;
        margin-bottom: 0;
        top: auto;
        color: @white;
        text-shadow: 0 0 5px @trspBlack;
        #gradient > .vertical-three-colors(rgba(0,0,0,0), @darkBrown, 100%, @darkBrown);
        background-color: transparent;
        &:before {
          border-bottom-color: @trspOrange;
          content: " ";
          border-bottom: 1px dotted @trspOrange;
          .font-size(@parFontSize);
          width: @contentParaWidth;
          left: 50%;
          margin-left: -1 * (@contentParaWidth / 2);
          top: .6em;
          display: block;
          position: relative;
          z-index: -1;
        }
        .blockout {
          background: #020101; // pinched from silhouette
        }
      }
      .image {
        height: 100%;
        z-index: 1;
      }
    }
    .content {
      #gradient > .vertical-three-colors(@darkBrown, @brown, 32%, @brown);

      > p {
        color: @cream;
        font-size: 1.1em;
        &:last-child {
          padding-bottom: 1.4em;
        }
      }

      a { color: @white; }

      .pull-quote {
        p {
          color: @orange;
          text-shadow: 0 2px 1px @darkBrown;
        }
        border-top-color: @trspOrange;
        border-bottom-color: @trspOrange;
      }
    }
    .call-to-action {
      border-top-color: @trspOrange;
      border-bottom-color: @trspOrange;
    }

    .article-nav-container.footer .article-nav .article-nav-title {
      color: @orange;
    }

    p.intro-credit {
      font-size: 0.6em;
      font-family: @sansFontFamily;
      color: @trspGray;
      font-style: italic;
      text-transform: uppercase;
      text-align: center;
    }

  }

  &.timeline {

    .article-header {
      display: none;
    }
    .content {
      padding-top: 1em;
      z-index: 1;
      margin-bottom: 2em;

      .vco-storyjs { font-family: @sansFontFamily; }
      .vco-storyjs .twitter,
      .vco-storyjs .vcard,
      .vco-storyjs .messege,
      .vco-storyjs .credit,
      .vco-storyjs .caption,
      .vco-storyjs .zoom-in,
      .vco-storyjs .zoom-out,
      .vco-storyjs .back-home,
      .vco-storyjs .time-interval div,
      .vco-storyjs .time-interval-major div,
      .vco-storyjs .nav-container { font-family: @sansFontFamily !important; }

      .vco-storyjs .vco-feature .date { font-family: @sansFontFamily !important; }

      .vco-storyjs .timenav h1,
      .vco-storyjs .flag-content h1,
      .vco-storyjs .era h1,
      .vco-storyjs .timenav h2,
      .vco-storyjs .flag-content h2,
      .vco-storyjs .era h2,
      .vco-storyjs .timenav h3,
      .vco-storyjs .flag-content h3,
      .vco-storyjs .era h3,
      .vco-storyjs .timenav h4,
      .vco-storyjs .flag-content h4,
      .vco-storyjs .era h4,
      .vco-storyjs .timenav h5,
      .vco-storyjs .flag-content h5,
      .vco-storyjs .era h5,
      .vco-storyjs .timenav h6,
      .vco-storyjs .flag-content h6,
      .vco-storyjs .era h6 { font-family: @sansFontFamily !important; }

      .vco-storyjs .vco-feature h1,
      .vco-storyjs .vco-feature h2,
      .vco-storyjs .vco-feature h3,
      .vco-storyjs .vco-feature h4,
      .vco-storyjs .vco-feature h5,
      .vco-storyjs .vco-feature h6 { font-family: @serifFontFamily }

      .timeline-tooltip { font-family: @sansFontFamily; }

      .vco-storyjs {

        // basics
        background-color: @lightCream;
        .timenav-background {
          background-color: @trspCream;
          .timenav-interval-background {
            background-color: @lightCream;
          }
        }


        .vco-slider {

          // intro slide styling
          h2.start {
            .article-header .header;
          }
          .slider-item-container > .slider-item:first-child {
            .content .content-container .text p {
              .article-header .byline;
              font-family: @sansFontFamily !important;
            }
          }

          // image styling
          .slider-item .content .content-container .media .media-wrapper .media-container {
            .media-shadow { &:before, &:after { display: none; } }

            .media-image {
              border: 1px solid lighten(@brown, 70%);
              .border-radius(3px);  
              background: transparent;              
            }

            // captions
            .caption {
              .paragraph-container .caption;
              margin: 0;
            }
            .credit {
              .paragraph-container .credit;
              margin-left: 0;
              margin-right: 0;
            }
          }

          // text styling
          .slider-item .content .content-container .text {
            .font-size(@parFontSize);
            .date {
              text-transform: uppercase;
              color: @grayLight;
              font-size: .6em;
              letter-spacing: .2em;
              font-weight: bold;
            }

            h3 {
              font-family: @sansFontFamily;
              font-size: 1em;
              line-height: 1.2;
              font-weight: 700;
              letter-spacing: .1em;
              text-transform: uppercase;
              color: @gray;
            }

            p {
              color: #333;
              font-family: @serifFontFamily !important; // ugh
              font-size: 1em;
              line-height: 1.5;
            }
          }

        }
      } // /.vco-storyjs
    }
  }
}

.responsive-image-container {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  &.dancers {
    .responsiveBGInArticle('story-image-lg/dancers2');
  }
  &.monk-loudspeaker {
    .responsiveBGInArticle('story-image-lg/monk-loudspeaker');
  }
  &.muslim-girls {
    .responsiveBGInArticle('story-image-lg/muslim-girls');
  }
  &.pres-rajapaksa1 {
    .responsiveBGInArticle('story-image-lg/pres-rajapaksa1');
  }
  &.pres-rajapaksa2 {
    .responsiveBGInArticle('story-image-lg/pres-rajapaksa2');
  }
  &.family {
    .responsiveBGInArticle('story-image-lg/family');
  }
  &.ravi {
    .responsiveBGInArticle('story-image-lg/ravi');
  }
  &.jaffna-street {
    .responsiveBGInArticle('story-image-lg/jaffna-street');
  }
  &.gnanaseelan {
    .responsiveBGInArticle('story-image-lg/gnanaseelan');
  }


}

body.loading {
  background: #333;
  overflow: hidden;
  #main,
  .navbar.special-feature,
  .article-nav-container {
    visibility: hidden;
  }
  .pre-load-background {
    display: block;
  }
}

.rotation-frames() {
  0% {
    .transform(rotate(0deg));
  }
  100% {
    .transform(rotate(-360deg));
  }
}

.pre-load-background {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background: url(/images/loader.svg) center center no-repeat transparent;
  background-size: 60px auto;
  .animation(spin 2s infinite linear);
  @-webkit-keyframes spin {.rotation-frames;}
  @-moz-keyframes spin {.rotation-frames}
  @-ms-keyframes spin {.rotation-frames}
  @-o-keyframes spin {.rotation-frames}
  @keyframes spin {.rotation-frames}
}

::selection {
  background: @orange;
  color: @white;
  text-shadow: none;
}
::-moz-selection {
  background: @orange;
  color: @white;
  text-shadow: none;
}

article.timeline .content .vco-storyjs .vco-slider .slider-item-container > .slider-item:first-child .content .content-container .text p {
  -moz-hyphens: none !important;
  -webkit-hyphens: none !important;
  -ms-hyphens: none !important;
  hyphens: none !important;
}
