@import 'mixins';

@parFontSize: 20;

body {
  font-size: 100%;
  line-height: 1.5;
  color: #333;
}

.navbar.special-feature {
  margin-bottom: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  padding: 8px 0px;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}

#main {
  // Spacer for the sticky navbar
  margin-top: 48px;
}

.article-header {
  position: relative;
  padding: 2em;
//  height: 100vh;
  max-width: 100%;
  .header,
  .byline,
  .author {
    color: #333;
  }
  .header {
    font-size: 10em;
  }
  .byline {
    font-size: 3em;
    margin-bottom: 1em;
  }
  .author {
    font-size: 3em;
    margin-top: 1em;
  }
  .image {
    height: 60vh;
    top: 0;
    left: 0;
    z-index: 1;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    // IE8 polyfill for `background-size: cover;`
    // -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='path_relative_to_the_HTML_file', sizingMethod='scale')";
  }
}

.chapters {
  max-width: none;
  padding: 2em 1.5em 1em 1.5em;
  margin: 0 auto;
  height: 200px;
  background-color: rgba(0,0,0,0.1);
  .chapter {
    width: 20%;
    height: 100%;
    float: left;
    margin-right: 6%;
    position: relative;
    &:last-child {
      margin-right: 0;
    }
    .image {
      background-image: url('/images/6.jpg');
      background-size: cover;
      height: 80%;
    }
    .title {
      display: inline-block;
      font-weight: 600;
      .font-size(@parFontSize);
    }
    .overlay-anchor {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
    &.bad-monks .image {
      background-image: url('/images/srilanka068.jpg');
    }
  }
}

@contentParaWidth: 30em;
.content {
  padding-top: 2em;
  position: relative;
  .font-size(@parFontSize);
  p {
    max-width: @contentParaWidth;
    margin: 0 auto;
    font-family: @serifFontFamily;
    .font-size(@parFontSize);
    word-wrap: break-word;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 1.4em;
    &:last-child {
      padding-bottom: 1.4em;
    }
  }
  & > p:first-of-type {
    font-weight: bold;
    line-height: 1.4;
    &:first-letter {
      font-size: 710%;
      float: left;
      line-height: .73;
      margin: 14px 0 -14px -20px;
      text-indent: -5px;
    }
  }
  .pull-quote {
    max-width: @contentParaWidth;
    margin: 0 auto;
    border: 0;
    padding: 0;
    &.pull-right,
    &.pull-left {
      max-width: 14em;
      margin-left: 1em;
      margin-right: 1em;
      p {
        padding: 0;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
    &.text {
      font-size: 2em;
      max-width: @contentParaWidth * 0.8;
      margin: 2em auto;
    }
    &.large-image {
      max-width: @contentParaWidth * 1.75;
    }
    p {
      max-width: 100%;
      font-size: 0.75em;
      line-height: 1.5;
    }
  }
}

.next-chapter {
  max-width: @contentParaWidth;
  margin: 4em auto 3em auto;
  .font-size(@parFontSize);
  .call-to-action {
    display: block;
    width: 100%;
    text-align: right;
    color: #000;
    font-weight: 600;
  }
}

// Article specific styling
article {
  &.introduction {
    .article-header {
      height: 70vh;
      padding: 0;
      .header,
      .byline,
      .author,
      .image {
        position: absolute;
        text-align: center;
        z-index: 2;
        width: 100%;
      }
      .header {
        top: 10%;
        color: rgba(255,255,255,0.8);
        font-size: 10em;
      }
      .byline {
        top: 30%;
        color: rgba(200,200,200,0.7);
        font-size: 4.8em;
      }
      .author {
        bottom: 20%;
        color: rgba(200,200,200,0.8);
        font-size: 3em;
      }
      .image {
        height: 100%;
        z-index: 1;
        background-image: url('/images/soldier-silhouetted.jpg');
      }
    }
    .content {
      background-color: black;
      p {
        color: #eee;
        &:last-child {
          padding-bottom: 1.4em;
        }
      }
    }
  }
  &.bad-monks {
    .article-header {
      .image {
        background-image: url('/images/srilanka068.jpg');
      }
    }
  }
}

body.loading {
  background: #333;
  #main {
    display: none;
  }
  .pre-load-background {
    display: block;
  }
}

.rotation-frames() {
  0% {
    .transform(rotate(0deg));
  }
  100% {
    .transform(rotate(-360deg));
  }
}

.pre-load-background {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background: url(/images/loader.svg) center center no-repeat transparent;
  background-size: 60px auto;
  .animation(spin 2s infinite linear);
  @-webkit-keyframes spin {.rotation-frames;}
  @-moz-keyframes spin {.rotation-frames}
  @-ms-keyframes spin {.rotation-frames}
  @-o-keyframes spin {.rotation-frames}
  @keyframes spin {.rotation-frames}
}