---
header: "The Brothers&rsquo; Army"
pageTitle: "The Brothers’ Grip"
cssclass: 'brothers-grip'
slug: 'brothers-grip'
author: "<span class=\"blockout\">Words by Eric Ellis &middot; Images by Paula Bronstein</span>"
imageCaption: "Fimmion hungry. Want sweetroll. Like pants. Love sweetroll. Sweetroll for Fimmion, pants for you."
next-chapter: '<div class="call-to-action"><p>Get more stories like this &mdash;<br/> sign up for <em>The Global Mail&rsquo;s</em> weekly newsletter</p><form action="http://theglobalmail.createsend.com/t/r/s/ftkhlk/" method="post"><input id="fieldEmail" name="cm-ftkhlk-ftkhlk" type="email" required placeholder="your@email.com"><input type="submit" value="Subscribe"></form></div>'
---
<!--
<script>
  tgm = window.tgm || {};
  tgm.articleSource = '//127.0.0.1:8000/feature/ex-gay-counselling-its-happening-in-australian-schools/664.json';
</script>
-->
<p>what up, copy here</p>