<div class="call-to-action">
  <p>
    &lsquo;The Smugglers&rsquo; Prey&rsquo; will be published <br>
    on the xx of August.
  </p>
  <p>
    Subscribe to <em><a href="http://www.theglobalmail.org/">the Global Mail</a></em>
    <br>and stay informed
  </p>
  <form action="http://theglobalmail.createsend.com/t/r/s/ftkhlk/" method="post">
      <input id="fieldEmail" name="cm-ftkhlk-ftkhlk" type="email" required placeholder="your@email.com">
      <input type="submit" value="Subscribe">
  </form>
</div>