<section class="chapters">
  <div class="chapter bad-monks">
    <div class="image"></div>
    <a class="overlay-anchor" href="/bad-monks.html"></a>
    <span class="title">Bad Monks</span>
  </div>
  <div class="chapter">
    <div class="image"></div>
    <a class="overlay-anchor" href="#"></a>
    <span class="title">Bad Monks</span>
  </div>
  <div class="chapter">
    <div class="image"></div>
    <a class="overlay-anchor" href="#"></a>
    <span class="title">Bad Monks</span>
  </div>
</section>